{% extends "base.html" %}
{% load humanize %}
{% block body %}
    <div class="modal position-static d-block">
        <div class="modal-dialog">
            <div class="modal-content p-4 border-secondary my-5 rounded-0">
                <div class="modal-header pb-4 border-bottom-0">
                    <h2>Sign in</h2>
                </div>
                <div class="modal-body pt-0">
                    <!-- 登入表單 -->
                    <form id="sign_in"
                          action="{% url 'member:account_sign_in' %}"
                          method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ form.username }}
                            <label for="{{ form.username.id_for_label }}">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password }}
                            <label for="{{ form.password.id_for_label }}">Password</label>
                        </div>
                        <input type="submit"
                               name="sign_in_submit"
                               value="Sign in"
                               class="w-100 btn btn-lg btn-dark rounded-0" />
                    </form>
                    <!-- 註冊切換區 -->
                    <div class="mt-5">
                        <h2>Not a member?</h2>
                        <button id="sign_upBtn"
                                class="w-100 mb-2 border-black btn btn-lg btn-secondary text-light mt-3 rounded-0"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#sign_up"
                                aria-expanded="false"
                                aria-controls="sign_up">Sign up</button>
                        <div class="collapse mt-3" id="sign_up">
                            <h3 class="mb-4 text-danger-emphasis">Required Fields</h3>
                            <!-- 註冊表單 -->
                            <form id="sign_up"
                                  action="{% url 'member:account_sign_up' %}"
                                  method="post">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    {{ register_form.username }}
                                    <label for="{{ register_form.username.id_for_label }}">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ register_form.email }}
                                    <label for="{{ register_form.email.id_for_label }}">Email Address</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ register_form.password1 }}
                                    <label for="{{ register_form.password1.id_for_label }}">Create a Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ register_form.password2 }}
                                    <label for="{{ register_form.password2.id_for_label }}">Confirm Password</label>
                                </div>
                                <input type="submit"
                                       value="Submit"
                                       class="w-100 btn btn-lg btn-danger rounded-0" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const btn = document.getElementById('sign_upBtn');
        const collapse = document.getElementById('sign_up');
        collapse.addEventListener('show.bs.collapse', () => btn.classList.replace('btn-secondary', 'btn-light'));
        collapse.addEventListener('hide.bs.collapse', () => btn.classList.replace('btn-light', 'btn-secondary'));
    </script>
{% endblock body %}
