{% extends "base.html" %}
{% load humanize %}
{% block body %}
    <div class="modal position-static d-block">
        <div class="modal-dialog">
            <div class="modal-content p-4 border-secondary">
                <div class="modal-header pb-4 border-bottom-0">
                    <h2>Sign in</h2>
                </div>
                <div class="modal-body pt-0">
                    <div class="form-floating mb-3">
                        <input type="email"
                               class="form-control"
                               id="floatingInput"
                               placeholder="name@example.com" />
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password"
                               class="form-control"
                               id="floatingPassword"
                               placeholder="Password" />
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-secondary" type="submit">Sign in</button>
                    <div class="mt-5">
                        <h2>Not a member?</h2>
                        <button class="w-100 mb-2 border-black btn btn-lg btn-light text-secondary mt-3"
                                type="submit">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
