{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="{% url "index:index" %}">Index</a>
            <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/activities/' %}active{% endif %}"
                       href="{% url 'activities:activities' %}">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/shops/' %}active{% endif %}"
                       href="{% url "shops:shops" %}">Shops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/kenjutsu/' %}active{% endif %}"
                       href="{% url "kenjutsu:kenjutsu" %}">Kenjutsu</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-0 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/member/' %}active{% endif %}"
                       href="{% url "member:member" %}">Member</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/cart/' %}active{% endif %}"
                       href="{% url "cart:cart" %}">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
