{% load static %}
<nav class="navbar-custom bg-white">
    <div class="container">
        <div class="row">
            <a class="navbar-brand border-custom text-center fs-2 "
               href="{% url 'index:index' %}"
               {% if request.path == '/' %}aria-current="page"{% endif %}>Index</a>
            <div class="nav-scroller py-1 border-custom">
                <div class="nav nav-underline justify-content-between px-4">
                    <a class="nav-item nav-link link-body-emphasis {% if request.path == '/' %}active{% endif %}"
                       href="{% url 'index:index' %}"
                       {% if request.path == '/' %}aria-current="page"{% endif %}>News</a>
                    <a class="nav-item nav-link link-body-emphasis {% if '/activities/' in request.path %}active{% endif %}"
                       href="{% url 'activities:activities' %}"
                       {% if '/activities/' in request.path %}aria-current="page"{% endif %}>Activities</a>
                    <a class="nav-item nav-link link-body-emphasis {% if '/shops/' in request.path %}active{% endif %}"
                       href="{% url 'shops:shops' %}"
                       {% if '/shops/' in request.path %}aria-current="page"{% endif %}>Shops</a>
                    <a class="nav-item nav-link link-body-emphasis {% if '/iai/' in request.path %}active{% endif %}"
                       href="{% url 'iai:iai' %}"
                       {% if '/iai/' in request.path %}aria-current="page"{% endif %}>Iai</a>
                    <a class="nav-item nav-link link-body-emphasis {% if '/member/' in request.path %}active{% endif %}"
                       href="{% url 'member:member' %}"
                       {% if '/member/' in request.path %}aria-current="page"{% endif %}>Member</a>
                </div>
            </div>
        </div>
    </div>
</nav>
