{% load static %}
<nav class="container">
   <div class="row">
      <a class="navbar-brand border-bottom border-black text-center fs-2 mt-1"
         href="{% url 'index:index' %}"
         {% if request.path == '/' %}aria-current="page"{% endif %}>Habaki</a>
      <div class="nav-scroller py-1 border-bottom border-black mb-1">
         <div class="nav nav-underline justify-content-between px-1">
            <a class="nav-item nav-link link-body-emphasis {% if request.path == '/' %}active{% endif %}"
               href="{% url 'index:index' %}"
               {% if request.path == '/' %}aria-current="page"{% endif %}>News</a>
            <a class="nav-item nav-link link-body-emphasis {% if '/activities/' in request.path %}active{% endif %}"
               href="{% url 'activities:activities' %}"
               {% if '/activities/' in request.path %}aria-current="page"{% endif %}>Activities</a>
            <a class="nav-item nav-link link-body-emphasis {% if '/collection/' in request.path %}active{% endif %}"
               href="{% url 'collection:collection' %}"
               {% if '/collection/' in request.path %}aria-current="page"{% endif %}>Collection</a>
            <a class="nav-item nav-link link-body-emphasis {% if '/kenshi/' in request.path %}active{% endif %}"
               href="{% url 'kenshi:kenshi' %}"
               {% if '/kenshi/' in request.path %}aria-current="page"{% endif %}>Kenshi</a>
            <a class="nav-item nav-link link-body-emphasis {% if '/member/' in request.path %}active{% endif %}"
               href="{% url 'member:member' %}"
               {% if '/member/' in request.path %}aria-current="page"{% endif %}>Member</a>
         </div>
      </div>
   </div>
</nav>
