{% extends "base.html" %}
{% load humanize %}
{% block body %}
    <div class="container">
        <!-- Contact Heading -->
        <h2 class="mt-5 bg-body-secondary p-2">Contact</h2>
        <p class="mt-4 p-2">
            <b>Habaki , Ltd.</b>
        </p>
        <!-- Contact Details -->
        <address class="p-2">
            <b>Head Office (Japan)</b>
            <br>
            Address: 123 Kenzo Street, Kyoto City, Kyoto Prefecture, 600-0000, Japan
            <br>
            Tel: +81 75-123-4567
            <br>
            Fax: +81 75-123-4568
            <br>
            Email: info@takemurablades.jp
            <br>
        </address>
        <address class="p-2">
            <b>Factory Address</b>
            <br>
            Habaki Manufacturing Facility
            <br>
            Address: 456 Katana Road, Uji City, Kyoto Prefecture, 611-0000, Japan
            <br>
            Tel: +81 75-123-4567
            <br>
            Fax: +81 77-654-3211
            <br>
        </address>
        <address class="p-2">
            <b>International Sales and Customer Support</b>
            <br>
            For inquiries outside Japan, please contact our global sales team:
            <br>
            Email: sales@takemurablades.com
            <br>
        </address>
        <address class="row p-2">
            <b>Japanese-Speaking Sales Representatives</b>
            <div class="col-lg-6 no-border">
                <li>
                    <u>Hiroshi Tanaka</u>
                </li>
                Senior Sales Manager (Japan)
                <br>
                Email: h.tanaka@takemurablades.jp
                <br>
                Tel: +81 75-123-4599
                <br>
            </div>
            <div class="col-lg-6 no-border">
                <li>
                    <u>Kenji Nakamura</u>
                </li>
                Customer Relations (Asia-Pacific)
                <br>
                Email: k.nakamura@takemurablades.jp
                <br>
                Tel: +81 80-9999-8888
                <br>
            </div>
        </address>
        <address class="row p-2">
            <b>English-Speaking Sales Representatives</b>
            <div class="col-lg-6 no-border">
                <li>
                    <u>Emily Roberts</u>
                </li>
                International Sales Director
                <br>
                Email: e.roberts@takemurablades.com
                <br>
                Tel: +1 212-555-7891
                <br>
            </div>
            <div class="col-lg-6 no-border">
                <li>
                    <u>Michael Smith</u>
                </li>
                Sales Coordinator (Europe and Americas)
                <br>
                Email: m.smith@takemurablades.com
                <br>
                Tel: +44 20 7946 0123
                <br>
            </div>
        </address>
        <!-- Contact Ending -->
        <div class="row mb-3 p-2">
            <p>
                For custom orders, consultations, or wholesale inquiries, please reach out to the appropriate contact. We are dedicated to providing expert guidance and personalized support in your preferred language.
            </p>
        </div>
    </div>
{% endblock body %}
