{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block body %}
    <div class="container">
        <section class="row">
            <div class="col g-0">
                <a href="{% url "kenshi:kenshi" %}"
                   role="button"
                   aria-label="Poster - click to view more">
                    <img src="{% static 'img/cover21_9.jpg' %}"
                         class="object-fit-cover"
                         alt="Poster - click to view more"
                         width="100%"
                         height="100%" />
                </a>
            </div>
        </section>
        <section class="row mt-2 mb-2">
            <article class="col-lg-6 mt-2">
                <div class="row g-0 border rounded shadow-sm">
                    <div class="col p-4 d-flex flex-column">
                        <h4 class="mb-0">ERA : 3D Epic of Feudal Japan</h4>
                        <div class="mb-1 text-body-secondary">1 hour ago</div>
                        <p class="card-text mb-auto">Kenji Sato training actors in authentic draw techniques.</p>
                        <a href="{% url 'index:news' %}"
                           class="link-body-emphasis text-secondary">Continue reading »</a>
                    </div>
                    <a href="{% url 'index:news' %}" class="col-5">
                        <img src="{% static 'img/ERA_Poster 2480_3508.png' %}"
                             class="object-fit-cover"
                             alt="Thumbnail"
                             width="100%"
                             height="240" />
                    </a>
                </div>
            </article>
            <article class="col-lg-6 mt-2">
                <div class="row g-0 border rounded shadow-sm">
                    <div class="col p-4 d-flex flex-column">
                        <h4 class="mb-0">Featured post</h4>
                        <div class="mb-1 text-body-secondary">Nov 12</div>
                        <p class="card-text mb-auto">
                            This is a wider card with supporting text below as a natural
                            lead-in to additional content.
                        </p>
                        <a href="#" class="link-body-emphasis text-secondary">続きを読む »</a>
                    </div>
                    <a href="#" class="col-5">
                        <img src="{% static 'img/about.jpg' %}"
                             class="object-fit-cover"
                             alt="Thumbnail"
                             width="100%"
                             height="240" />
                    </a>
                </div>
            </article>
        </section>
        <div class="row g-0">
            <section class="col-lg-8 g-4">
                <article>
                    <h4 class="mb-1">Announcement of the 19th Tokyo Tournament</h4>
                    <p>October 12, 2025</p>
                    <div class="g-0">
                        <p>The 19th Tokyo Games will be held from October 12th to 13th.</p>
                    </div>
                    <a href="{% url 'index:notice' %}"
                       class="link-body-emphasis text-secondary">Continue reading »</a>
                    <hr />
                </article>
                <article class="blog-post">
                    <h4 class="mb-1">Another blog post</h4>
                    <p class="blog-post-meta">December 23, 2020</p>
                    <p>
                        This is some additional paragraph placeholder content. It has been
                        written to fill the available space and show how a longer snippet
                        of text affects the surrounding content. We'll repeat it often to
                        keep the demonstration flowing, so be on the lookout for this
                        exact same string of text.
                    </p>
                    <a href="#" class="link-body-emphasis text-secondary">続きを読む »</a>
                    <hr />
                </article>
                <article class="blog-post">
                    <h4 class="mb-1">Another blog post</h4>
                    <p class="blog-post-meta">December 23, 2020</p>
                    <p>
                        This is some additional paragraph placeholder content. It has been
                        written to fill the available space and show how a longer snippet
                        of text affects the surrounding content. We'll repeat it often to
                        keep the demonstration flowing, so be on the lookout for this
                        exact same string of text.
                    </p>
                    <a href="#" class="link-body-emphasis text-secondary">続きを読む »</a>
                    <hr />
                </article>
            </section>
            <section class="col-lg-4 mt-3">
                <div class="top-5">
                    <aside class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">About</h4>
                        <p class="mb-0">
                            Customize this section to tell your visitors a little bit about
                            your publication, writers, content, or something else entirely.
                            Totally up to you.
                        </p>
                    </aside>
                    <ul class="list-unstyled ms-3">
                        <h4 class="fst-italic">Recent posts</h4>
                        <li>
                            <div class="row py-3 border-top">
                                <a href="#" class="col-4">
                                    <img src="{% static 'img/about.jpg' %}"
                                         class="object-fit-cover"
                                         alt="Thumbnail"
                                         width="100%"
                                         height="100" />
                                </a>
                                <div class="col g-0 pt-1 me-4 d-flex flex-column">
                                    <a href="#" class="text-decoration-none link-body-emphasis text-black">
                                        <h6 class="mb-0">This is another blog post title</h6>
                                    </a>
                                    <small class="text-body-secondary">January 14, 2024January 14, 2024January 14, 2024January 14, 2024January 14, 2024January 14</small>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row py-3 border-top">
                                <a href="#" class="col-4">
                                    <img src="{% static 'img/about.jpg' %}"
                                         class="object-fit-cover"
                                         alt="Thumbnail"
                                         width="100%"
                                         height="100" />
                                </a>
                                <div class="col g-0 pt-1 me-4 d-flex flex-column">
                                    <a href="#" class="text-decoration-none link-body-emphasis text-black">
                                        <h6 class="mb-0">This is another blog post title</h6>
                                    </a>
                                    <small class="text-body-secondary">January 14, 2024January 14, 2024January 14, 2024January 14, 2024January 14, 2024January 14</small>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row py-3 border-top">
                                <a href="#" class="col-4">
                                    <img src="{% static 'img/ERA_Poster 2480_3508.png' %}"
                                         class="object-fit-cover"
                                         alt="Thumbnail"
                                         width="100%"
                                         height="100" />
                                </a>
                                <div class="col g-0 pt-1 me-4 d-flex flex-column">
                                    <a href="#" class="text-decoration-none link-body-emphasis text-black">
                                        <h6 class="mb-0">This is another blog post title</h6>
                                    </a>
                                    <small class="text-body-secondary">January 14, 2024January 14, 2024January 14, 2024January 14, 2024January 14, 2024January 14</small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
{% endblock body %}
