{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block body %}
  <main class="container">
    {% if banners.exists %}
      {% for banner in banners %}
        <section class="row">
          <div class="col g-0">
            <a href="{% url "kenshi:kenshi" %}"
               role="button"
               aria-label="{{ banner.caption }}">
              <img src="{{ banner.image.url }}"
                   class="object-fit-cover"
                   alt="{{ banner.caption }}"
                   width="100%"
                   height="100%" />
            </a>
          </div>
        </section>
      {% endfor %}
    {% endif %}
    <!-- Featured newses -->
    <section class="row mt-2 mb-2">
      {% for news in featured_newses %}
        <article class="col-lg-6 mt-2{% if not forloop.first %} blog-post{% endif %}">
          <div class="row g-0 border rounded shadow-sm">
            <div class="col p-4 d-flex flex-column">
              <h4 class="mb-0">{{ news.title }}</h4>
              <div class="my-1 text-body-secondary">{{ news.created_at|naturaltime }}</div>
              <p class="card-text mb-auto">{{ news.contents_main|striptags|truncatewords:12 }}</p>
              <a href="{% url 'index:news' news.pk %}"
                 class="link-body-emphasis text-secondary">Continue reading »</a>
            </div>
            <a href="{% url 'index:news' news.pk %}" class="col-5">
              <img src="{{ news.images.first.image.url }}"
                   class="object-fit-cover"
                   alt="Thumbnail"
                   width="100%"
                   height="240" />
            </a>
          </div>
        </article>
      {% empty %}
        <article>
          <p class="text-muted">No news available.</p>
        </article>
      {% endfor %}
    </section>
    <div class="row g-0">
      <section class="col-lg-8 g-4">
        {% for notice in notices %}
          <article class="{% if not forloop.first %}blog-post{% endif %}">
            <h4 class="mb-1">{{ notice.title }}</h4>
            <p>{{ notice.created_at|date:"F j, Y" }}</p>
            <div class="g-0">
              <p>
                {% if notice.contents_main %}
                  {{ notice.contents_main|striptags|truncatewords:30 }}
                {% else %}
                  No content available.
                {% endif %}
              </p>
            </div>
            <a href="{% url 'index:notice' notice.pk %}"
               class="link-body-emphasis text-secondary">Continue reading »</a>
            <hr />
          </article>
        {% empty %}
          <article>
            <p class="text-muted">No notices available.</p>
          </article>
        {% endfor %}
      </section>
      <!-- Recent news -->
      <section class="col-lg-4 mt-3">
        <div class="top-5">
          {% if quotes.exists %}
            {% for quote in quotes %}
              <aside class="p-3 mb-3 bg-body-tertiary rounded">
                <p class="mb-2">{{ quote.content }}</p>
                <p class="text-end my-0">{{ quote.author }}</p>
              </aside>
            {% endfor %}
          {% endif %}
          <ul class="list-unstyled ms-3">
            <h4 class="fst-italic">Recent news</h4>
            {% for news in recent_newses %}
              <li>
                <div class="row py-3 border-top">
                  <a href="{% url 'index:news' news.pk %}" class="col-4">
                    <img src="{{ news.images.first.image.url }}"
                         class="object-fit-cover"
                         alt="{{ news.title }}"
                         width="100%"
                         height="100" />
                  </a>
                  <div class="col g-0 pt-1 me-4 d-flex flex-column">
                    <a href="{% url 'index:news' news.pk %}"
                       class="text-decoration-none link-body-emphasis text-black">
                      <h6 class="mb-0">{{ news.title }}</h6>
                    </a>
                    <small class="text-body-secondary">{{ news.contents_main|truncatewords:12 }}</small>
                  </div>
                </div>
              </li>
            {% empty %}
              <li>
                <p class="text-muted">No news</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </div>
  </main>
{% endblock body %}
