{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7 mx-auto">
                <section class="p-1">
                    <h2 class="text-center mt-2 p-2">Announcement of the 19th Tokyo Convention</h2>
                    <div class="mb-3">
                        <small class="bg-light">October 12, 2025</small>
                    </div>
                    <h2 class="bg-body-secondary">Date</h2>
                    <p>October 12th (Sun) - 13th (Mon, National Holiday), 2025</p>
                    <div class="bg-light">Day 1: October 12th (Sun)</div>
                    <div>12:30～13:00 Opening Ceremony</div>
                    <p>13:00～15:30 Individual Tournament (4th - 7th Dan)</p>
                    <div class="bg-light">Day 2: November 13th (Mon, National Holiday)</div>
                    <div>9:40 - 10:10 Opening Ceremony</div>
                    <div>10:10 - 12:30 Individual Tournament (Non-Dan - Sandan)</div>
                    <div>13:00～15:00 Team Tournament (Preliminaries & Finals)</div>
                    <div>15:00～16:00 Finals (Individual & Team)</div>
                    <div>16:00～16:30 High-Dan Demonstration</div>
                    <div>16:30～17:00 Closing Ceremony</div>
                    <h2 class="bg-body-secondary my-3">Date</h2>
                    <div>BumB  Tokyo Sports and Culture Center</div>
                    <div>〒136-0081  Yumenoshima, Koto-ku, Tokyo</div>
                    <div>TEL: 03-3521-7321 (Main)</div>
                </section>
                {% include "partials/_map.html" with lat=35.649209383109714 lng=139.830004167513 address="BumB 東京スポーツ文化館" zoom=15 map_id="Tokyo Sports Culture Center" height="400px" %}
            </div>
        </div>
    </div>
{% endblock body %}
