{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-lg-11 col-xl-10 col-xxl-9 mx-auto">
        <!-- Carousel -->
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner ratio ratio-21x9">
            {% for img in activity.images.all %}
              {% if forloop.first %}
                <div class="carousel-item active">
                {% else %}
                  <div class="carousel-item">
                  {% endif %}
                  <a href="#"
                     data-bs-toggle="modal"
                     data-bs-target="#lightbox-{{ forloop.counter }}">
                    <img src="{{ img.image.url }}"
                         class="object-fit-cover"
                         alt="{{ activity.title }} Image {{ forloop.counter }}"
                         width="100%"
                         height="100%" />
                  </a>
                  <!-- Lightbox Modal -->
                  <div class="modal fade" id="lightbox-{{ forloop.counter }}">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                      <div class="modal-content bg-dark">
                        <div class="modal-body p-0">
                          <img src="{{ img.image.url }}"
                               alt="{{ activity.title }} Image {{ forloop.counter }}"
                               width="100%"
                               height="100%" />
                          <button class="btn-close btn-close-white position-absolute top-0 end-0 m-3"
                                  data-bs-dismiss="modal"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% empty %}
                <!-- Static Image -->
                <div class="carousel-item active">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#lightbox-default">
                    <img src="{% static 'img/cover21_9.jpg' %}"
                         class="object-fit-cover"
                         alt="Default Cover"
                         width="100%"
                         height="100%" />
                  </a>
                  <div class="modal fade" id="lightbox-default">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                      <div class="modal-content bg-dark">
                        <div class="modal-body p-0">
                          <img src="{% static 'img/cover21_9.jpg' %}"
                               alt="Cover"
                               width="100%"
                               height="100%" />
                          <button class="btn-close btn-close-white position-absolute top-0 end-0 m-3"
                                  data-bs-dismiss="modal"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <!-- Control -->
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExample"
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">prev</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExample"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">next</span>
            </button>
          </div>
          <div class="row p-1 mt-2">
            <!-- Details -->
            <section class="col-md-8">
              <h4 class="mt-1 mb-0">{{ activity.title }}</h4>
              <div class="my-2">
                <p class="text-decoration-underline d-inline mx-1">{{ activity.provider }}</p>
                <p class="d-inline mx-1">/</p>
                <p class="text-decoration-underline d-inline mx-1">{{ activity.get_type_display }}</p>
              </div>
              <section class="row p-1">
                <div class="col-4 border rounded d-flex flex-column mt-1">
                  <small class="mt-1">Participants:</small>
                  <div class="mt-auto">
                    <h6>{{ activity.participants }}</h6>
                  </div>
                </div>
                <div class="col-4 border rounded d-flex flex-column mt-1">
                  <small class="mt-1">Participating age:</small>
                  <div class="mt-auto">
                    <h6>{{ activity.target_age }}</h6>
                  </div>
                </div>
                <div class="col-4 border rounded d-flex flex-column mt-1">
                  <small class="mt-1">Duration:</small>
                  <div class="mt-auto">
                    <h6>{{ activity.duration }}</h6>
                  </div>
                </div>
              </section>
              <div class="mt-4">
                <h4>Plan Description</h4>
                <section class="text-muted">
                  <p class="d-block my-1">{{ activity.description|linebreaks }}</p>
                </section>
                {% if activity.plan_1 %}
                  <div class="mt-3">
                    <h5 class="d-inline">{{ activity.plan_1 }}</h5>
                    <h5 class="d-inline mx-1"></h5>
                    <h5 class="d-inline">{{ activity.price_1|floatformat:0|intcomma }}</h5>
                    <h6 class="d-inline">{{ activity.currency }}</h6>
                    <p class="d-block text-muted">{{ activity.summary_1 }}</p>
                  </div>
                  <div class="mt-3">
                    <h5 class="d-inline">{{ activity.plan_2 }}</h5>
                    <h5 class="d-inline mx-1"></h5>
                    <h5 class="d-inline">{{ activity.price_2|floatformat:0|intcomma }}</h5>
                    <h6 class="d-inline">{{ activity.currency }}</h6>
                    <p class="d-block text-muted">{{ activity.summary_2 }}</p>
                  </div>
                  <div class="mt-3">
                    <h5 class="d-inline">{{ activity.plan_3 }}</h5>
                    <h5 class="d-inline mx-1"></h5>
                    <h5 class="d-inline">{{ activity.price_3|floatformat:0|intcomma }}</h5>
                    <h6 class="d-inline">{{ activity.currency }}</h6>
                    <p class="d-block text-muted">{{ activity.summary_3 }}</p>
                  </div>
                {% endif %}
              </div>
              <hr />
              <section>
                <h4 class="border-start border-secondary border-4 bg-light p-2">More Information</h4>
                <h6 class="ms-1 my-3">Reservation Instructions</h6>
                <div class="row">
                  <div class="col-4">
                    <p class="d-block bg-light p-1 mb-1">Min. participants</p>
                    <p class="d-block bg-light p-1 mb-1">Participants</p>
                    <p class="d-block bg-light p-1 mb-1">Reg. Deadline</p>
                    <p class="d-block bg-light p-1 mb-1">Event Ends</p>
                  </div>
                  <div class="col-8">
                    <p class="d-block p-1 mb-1">{{ activity.min_p }}</p>
                    <p class="d-block p-1 mb-1">{{ activity.participants }}</p>
                    <p class="d-block p-1 mb-1">{{ activity.reg_deadline }}</p>
                    <p class="d-block p-1 mb-1">{{ activity.event_ends }}</p>
                  </div>
                </div>
                <h6 class="ms-1 mt-2 mb-0">Access Map</h6>
                <div class="col-12 mt-2 mx-1 bg-light">
                  <small class="mt-2 mb-0">{{ activity.address }}</small>
                </div>
                <div class="mt-0">
                  {% include "partials/_map.html" with lat=activity.lat lng=activity.lng address=activity.address zoom=15 map_id=activity.map_id height="400px" %}
                </div>
              </section>
            </section>
            <!-- Book -->
            <section class="col-md-4">
              <div class="position-sticky top-0 rounded border shadow-sm p-3 mt-1">
                <p class="text-muted mb-0">{{ activity.fee_details }}</p>
                <div class="mb-1">
                  {% if activity.minimum_charge == 0 %}
                    <h3 class="d-inline">Free</h3>
                  {% else %}
                    <h3 class="d-inline">{{ activity.minimum_charge|floatformat:0|intcomma }}</h3>
                    <h5 class="d-inline text-right mx-auto my-1">{{ activity.get_currency_display }} ～ (with tax)</h5>
                  {% endif %}
                </div>
                <div class="bg-light rounded text-muted p-1">
                  <small class="d-block">Included in price:</small>
                  <small>{{ activity.price_included }}</small>
                </div>
                {% if activity.is_appointment == 'yes' %}
                  <button class="btn btn-danger w-100 mt-3"
                          data-bs-toggle="modal"
                          data-bs-target="#bookingModal">Book</button>
                {% endif %}
              </div>
            </section>
          </div>
          <!-- Modal -->
          <div class="modal fade"
               id="bookingModal"
               tabindex="-1"
               aria-labelledby="bookingModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title ms-1" id="bookingModalLabel">Schedule an Appointment</h5>
                  <button type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'activity:booking_view' activity.pk %}" method="post">
                    {% csrf_token %}
                    <div class="mb-2 ms-1">
                      <label for="activity" class="form-label text-black">{{ activity.title }}</label>
                    </div>
                    <div class="mb-3 ms-1">
                      <label for="first_name" class="form-label">First name</label>
                      <input type="text"
                             class="form-control"
                             id="first_name"
                             name="first_name"
                             {% if user.is_authenticated %}value="{{ user.first_name }}"{% endif %}
                             required>
                    </div>
                    <div class="mb-3 ms-1">
                      <label for="last_name" class="form-label">Last name</label>
                      <input type="text"
                             class="form-control"
                             id="last_name"
                             name="last_name"
                             {% if user.is_authenticated %}value="{{ user.last_name }}"{% endif %}
                             required>
                    </div>
                    <div class="mb-3 ms-1">
                      <label for="email" class="form-label">Email Address</label>
                      <input type="email"
                             class="form-control"
                             id="email"
                             name="email"
                             {% if user.is_authenticated %}value="{{ user.email }}"{% endif %}
                             required>
                    </div>
                    <div class="mb-3 ms-1">
                      <label for="phone" class="form-label">Phone Number</label>
                      <input type="text"
                             class="form-control"
                             id="phone"
                             name="phone"
                             {% if user.is_authenticated %}value="{{ user.phone }}"{% endif %}
                             placeholder="Optional">
                    </div>
                    <div class="mb-3 ms-1">
                      <label for="prefer_date" class="form-label">Preferred Date</label>
                      <input type="date"
                             class="form-control"
                             id="prefer_date"
                             name="prefer_date"
                             required>
                    </div>
                    <div class="mb-3 ms-1">
                      <label for="comment" class="form-label">Comment</label>
                      <textarea class="form-control"
                                id="comment"
                                name="comment"
                                placeholder="Optional"
                                rows="5"></textarea>
                    </div>
                    <button type="submit" class="w-100 btn btn-dark">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
