{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-lg-113 col-xl-10 col-xxl-9 mx-auto">
        <div class="row border border-secondary g-0">
          <!-- Name -->
          <div class="bg-secondary text-black p-2">
            <h4 class="mt-1 text-center">{{ collection.name_jp }}</h4>
            <h4 class="mb-0 text-center">{{ collection.name_en }}</h4>
          </div>
          <!-- Provider + Signature + Type -->
          <div class="row g-0">
            <div class="col-8 bg-light">
              <table class="table table-transparent border-white fw-normal mb-0">
                <tr>
                  <td>Provider</td>
                  <td>{{ collection.provider|default:"－" }}</td>
                </tr>
                <tr>
                  <td>Signature</td>
                  <td class="border-bottom">{{ collection.signature|default:"－" }}</td>
                </tr>
              </table>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-center bg-body-secondary">
              <h3 class="border-bottom m-0">{{ collection.get_type_display }}</h3>
            </div>
          </div>
          <!-- Size -->
          <div class="row g-0">
            <div class="col-3 bg-body-secondary">
              <table class="table table-transparent border-white fw-normal mb-0">
                <tr>
                  <td>Blade Length</td>
                </tr>
                <tr>
                  <td>Curvature</td>
                </tr>
                <tr>
                  <td>Sword Weight</td>
                </tr>
                <tr>
                  <td class="border-bottom">Period</td>
                </tr>
              </table>
            </div>
            <div class="col-3 bg-body-secondary">
              <table class="table table-transparent border-white fw-normal mb-0">
                <tr>
                  <td>{{ collection.blade_length|default:"－" }} cm</td>
                </tr>
                <tr>
                  <td>{{ collection.curvature|default:"－" }} cm</td>
                </tr>
                <tr>
                  <td>{{ collection.sword_weight|intcomma|default:"－" }} g</td>
                </tr>
                <tr>
                  <td class="border-bottom">{{ collection.period|default:"－" }}</td>
                </tr>
              </table>
            </div>
            <div class="col-3 bg-light">
              <table class="table table-transparent border-white fw-normal mb-0">
                <tr>
                  <td>Motohaba</td>
                </tr>
                <tr>
                  <td>Sakihaba</td>
                </tr>
                <tr>
                  <td>Motogasane</td>
                </tr>
                <tr>
                  <td class="border-bottom">Sakigasane</td>
                </tr>
              </table>
            </div>
            <div class="col-3 bg-light">
              <table class="table table-transparent border-white fw-normal mb-0">
                <tr>
                  <td>{{ collection.motohaba|default:"－" }} cm</td>
                </tr>
                <tr>
                  <td>{{ collection.sakihaba|default:"－" }} cm</td>
                </tr>
                <tr>
                  <td>{{ collection.motogasane|default:"－" }} cm</td>
                </tr>
                <tr>
                  <td class="border-bottom">{{ collection.sakigasane|floatformat:2|default:"－" }} cm</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- Koshirae + Registration + Certificate -->
          <div class="row g-0">
            <div class="col-3 bg-body-secondary">
              <table class="table table-transparent border-white fw-normal mb-0">
                <tr>
                  <td>Koshirae</td>
                </tr>
                <tr>
                  <td>Registration</td>
                </tr>
                <tr>
                  <td class="border-bottom">Certificate</td>
                </tr>
              </table>
            </div>
            <div class="col-9 bg-light">
              <table class="table table-transparent border-white fw-normal mb-0">
                <tr>
                  <td>{{ collection.koshirae|default:"－" }}</td>
                </tr>
                <tr>
                  <td>{{ collection.registration|default:"－" }}</td>
                </tr>
                <tr>
                  <td class="border-bottom">{{ collection.certificate|default:"－" }}</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- Remarks + Price -->
          <div class="row g-0">
            <div class="col-8 bg-light">
              <table class="table table-transparent fw-normal mb-0">
                <tr>
                  <td>Remarks</td>
                </tr>
                <tr>
                  <td>{{ collection.remarks|default:"－"|linebreaksbr }}</td>
                </tr>
              </table>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-center bg-body-secondary">
              <div class="text-center">
                <div class="d-flex align-items-baseline">
                  <h3 class="m-0 me-1">{{ collection.price|floatformat:0|intcomma |default:"－" }}</h3>
                  <h4 class="m-0">{{ collection.currency }}</h4>
                </div>
                <h6 class="m-0">(Tax excluded)</h6>
              </div>
            </div>
          </div>
          <!-- Order button -->
          <div class="col-auto mx-auto my-2">
            <a href="{% url 'collection:order_form' collection.pk %}"
               class="fw-medium text-warning-emphasis">[Open Order Form]</a>
          </div>
        </div>
        <!-- Image -->
        <div class="row g-0">
          {% for img in collection.images.all %}
            <div class="col-12 p-0">
              <img src="{{ img.image.url }}"
                   class="object-fit-cover w-100"
                   alt="{{ img.caption|default:'Collection Image' }}"
                   width="100%"
                   height="100%">
            </div>
          {% empty %}
            <p class="text-center text-muted">ERROE</p>
          {% endfor %}
          <div class="col-auto mx-auto my-2">
            <a href="#" class="fw-medium text-black">[Back to Top]</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
